<h2>Form: </h2>
<form action="/celebs/create" method="post">
    <label for="name">Celebrity-Name:</label>
    <input type="text" name="name" id="name">
    <label for="occupation">Occupation:</label>
    <input type="text" name="occupation" id="occupation">
    <label for="catch-phrase">Catch Phrase:</label>
    <input type="text" name="catch-phrase" id="catch-phrase">
    <button type="submit">Create</button>
</form>